<p style="color: green"><%= notice %></p>

<%= render @cc_comment %>

<div>
  <%= link_to "Edit this cc comment", edit_cc_comment_path(@cc_comment) %> |
  <%= link_to "Back to cc comments", cc_comments_path %>

  <%= button_to "Destroy this cc comment", @cc_comment, method: :delete %>
</div>
